@import '../../styles/settings.scss';

.aboutme {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 400px 3fr;
}
.navigation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px repeat(2, 3fr);
  grid-row-gap: 16px;
  background-color: $color_bg-dark;
  border: 1px solid $color_text-dark;
  margin: -1px 0px;
}
.explorer {
  color: $color_text-hover;
  padding: $size;
  text-transform: uppercase;
}
.folders {
  padding: 0px $size;
  & p {
    padding: 0px 0px 0px 32px;
    font-size: 14px;
    font-weight: 300;
  }
  &__title {
    text-transform: uppercase;
    border-bottom: 1px solid $color_text-dark;
  }
}
.contacts {
  padding: $size;
  &__title {
    text-transform: uppercase;
    border-bottom: 1px solid $color_text-dark;
  }
  &__link {
    display: inline-block;
    padding: 4px 0px 0px 8px;
    &:hover {
      color: $color_text-hover;
    }
  }
}
.about {
  align-self: center;
  justify-self: center;
  max-width: 600px;
  font-size: 18px;
  &__text {
    margin-left: $size * 1.5;
    padding-left: $size;
    border-left: 1px solid $color_text-dark;
  }
}
