@import '../../styles/settings.scss';

.aboutme {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 400px 3fr;
}
.navigation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px repeat(2, 3fr);
  grid-row-gap: 16px;
  background-color: $color_bg-dark;
  border: 1px solid $color_text-dark;
  margin: -1px 0px;
}
.explorer {
  color: $color_text-hover;
  padding: $size;
  text-transform: uppercase;
}
.folders {
  padding: $size;
  & p {
    padding: 4px 0px 0px 8px;
  }
  &__title {
    text-transform: uppercase;
    border-bottom: 1px solid $color_text-dark;
  }
}

.freetime {
  position: relative;
  padding: 4px 0px 0px 8px;
  color: $color_text-free;
  z-index: 1;
}
.freetime:hover {
  cursor: default;
}
.freetime.open .freetime__list {
  top: 110%;
  max-height: max-content;
}
.freetime.open .freetime__title span {
  transform: rotate(90deg);
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.freetime__title {
  position: relative;
  z-index: 1;
}
.freetime__title span {
  transition: all 0.3s ease-in-out;
}
.freetime__title:hover {
  color: $color_text-hover;
}
.freetime__list {
  position: absolute;
  top: 30%;
  left: 5%;
  right: 0;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.freetime__item {
  font-weight: 200;
}

.contacts {
  padding: $size;
  &__title {
    text-transform: uppercase;
    border-bottom: 1px solid $color_text-dark;
  }
  &__link {
    display: inline-block;
    padding: 4px 0px 0px 8px;
    &:hover {
      color: $color_text-hover;
    }
  }
}
.about {
  align-self: center;
  justify-self: center;
  width: 50%;
  font-size: 18px;
  &__text {
    margin-left: $size * 1.5;
    padding-left: $size;
    border-left: 1px solid $color_text-dark;
  }
}
