@import '../../../styles/settings.scss';

.aboutme-explorer {
  display: grid;
  grid-template-columns: 400px 1fr 25px 1fr 25px;
  flex-grow: 1;
  &__sidebar {
    background-color: $color_bg-dark;
    border-right: 1px solid $color_text-dark;
    border-left: 1px solid $color_text-dark;
  }
  &__sidebar-folders {
    color: $color_text-light;
  }
  &__interests {
    padding: 16px 0 16px 16px;
    p {
      padding-left: $size * 2;
    }
  }
  &__contacts-title {
    color: $color_text-hover;
    padding: $size;
    border: 1px solid $color_text-dark;
    margin: -1px -1px 0 -1px;
  }
  &__contacts {
    display: grid;
    gap: $size - 4;
    padding: 16px 0 16px 16px;
    a {
      &:hover {
        color: $color_text-hover;
      }
    }
  }
  &__text {
    padding: 16px;
    border-right: 1px solid $color_text-dark;
  }
  &__code {
    padding: 16px;
    border-right: 1px solid $color_text-dark;
    &-title {
      color: $color_text-git;
    }
    &-snippet {
      margin-top: $size * 4;
      padding: 0 64px 0 64px;
      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-name {
        display: grid;
        color: $color_text-blue;
        span {
          font-size: 14px;
          color: $color_text;
        }
      }
      &-actions {
        cursor: pointer;
        &:hover {
          color: $color_text-light;
        }
      }
      &-img {
        width: 100%;
        height: 50px;
        img {
          width: 100%;
          height: 50%;
          object-fit: cover;
        }
      }
    }
  }
  &__elem {
    padding: 2px;
    border-right: 1px solid $color_text-dark;
    div {
      height: $size;
      background-color: $color_scroll-elem;
      border-radius: 1px;
    }
  }
}
