@import '../../../styles/settings.scss';

.aboutme-explorer {
  display: grid;
  grid-template-columns: 400px 1fr 25px 1fr 25px;
  flex-grow: 1;
  &__sidebar {
    background-color: $color_bg-dark;
    border-right: 1px solid $color_text-dark;
    border-left: 1px solid $color_text-dark;
  }
  &__sidebar-folders {
    color: $color_text-light;
  }
  &__interests {
    padding: 16px 0 16px 16px;
    p {
      padding-left: $size * 2;
    }
  }
  &__contacts-title {
    color: $color_text-hover;
    padding: $size;
    border: 1px solid $color_text-dark;
    margin: -1px -1px 0 -1px;
  }
  &__contacts {
    display: grid;
    gap: $size - 4;
    padding: 16px 0 16px 16px;
    a {
      &:hover {
        color: $color_text-hover;
      }
    }
  }
  &__text {
    padding: 16px;
    border-right: 1px solid $color_text-dark;
  }
  &__code {
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    padding: 16px;
    border-right: 1px solid $color_text-dark;
    &-title {
      color: $color_text-git;
    }
    &-snippet {
      margin-top: $size * 4;
      padding: 0 64px 0 64px;
      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-name {
        display: grid;
        color: $color_text-blue;
        strong {
          margin-bottom: $size;
        }
        span {
          margin-bottom: $size;
          font-size: 14px;
          color: $color_text;
        }
        p {
          margin-top: 16px;
        }
      }
      &-actions {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $color_text-light;
        }
      }
      &-img {
        img {
          object-fit: contain;
          border: 1px solid $color_text-dark;
        }
      }
      &-details {
        font-size: 14px;
        margin-top: $size;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        &.close {
          opacity: 0;
        }
      }
    }
  }
  &__elem {
    padding: 2px;
    border-right: 1px solid $color_text-dark;
    &::before {
      content: '';
      display: block;
      top: 0;
      left: 0;
      right: 0;
      height: $size;
      background-color: $color_scroll-elem;
      border-radius: 1px;
    }
  }
}
