$color_bg: #0d1117;
$color_bg-dark: #010409;
$color_text: #8b949e;
$color_text-dark: #564c61;
$color_text-light: white;
$color_text-hover: #f4be52;
$color_text-blue: #79c0ff;
$color_code-accent: #c7a0f2;
$color_button: #8a6e35;
$color_dot-red: #bf616a;
$color_dot-yellow: #ebcb8b;
$color_dot-green: #a3be8c;

$size: 8px;