@import '../../styles/settings.scss';

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 128px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  flex-grow: 1;
}
