@import '../../styles/settings.scss';

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 128px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  flex-grow: 1;
  &__about {
    grid-area: 1 / 1 / 2 / 2;
  }
  &__greeting {
    font-size: 18px;
    color: $color_text-light;
  }
  &__title {
    font-size: 58px;
    color: $color_text-light;
  }
  &__status {
    font-size: 28px;
    color: $color_text-blue;
  }
  &__code {
    margin-top: 256px;
    &-title {
      color: $color_text-light;
      font-size: 14px;
      font-weight: 200;
    }
    &-title span {
      color: $color_text-hover;
    }
    &-input {
      font-size: 32px;
      color: $color_text-dark;
    }
  }
}
.home__app {
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &-blur {
    width: 600px;
    height: 500px;
    border-radius: 50%;
    background: #1f2f40;

    position: absolute;
    filter: blur(70px);
  }
}
