@import '../../styles/settings.scss';

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 5vw;
  align-items: center;
  justify-items: center;
  flex-grow: 1;
  &__greeting {
    font-size: 20px;
    color: $color_text-light;
  }
  &__title {
    font-size: 62px;
    color: $color_text-light;
    margin: $size * 2 0;
  }
  &__status {
    font-size: 32px;
    color: $color_text-blue;
  }
  &__code {
    margin-top: 256px;
    &-title {
      color: $color_text-light;
      font-weight: 200;
    }
    &-title span {
      color: $color_text-hover;
    }
    &-input {
      font-size: 36px;
      color: $color_text-dark;
    }
  }
}
.home__app {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &-text {
    position: absolute;
    top: 85%;
    span {
      color: $color_text-hover;
    }
  }
}

.ghost-logo {
  width: 25vw;
  height: 25vw;
}

.ghost-logo-fill {
  position: absolute;
  fill: $color_ghost-fill;
}
.shape-1 {
  animation: animation 12s linear infinite;
  width: 35%;
  position: absolute;
}
.shape-2 {
  animation: animation 14s linear infinite;
  width: 45%;
  position: absolute;
}
.shape-3 {
  animation: animation 16s linear infinite;
  width: 55%;
  position: absolute;
}

@keyframes animation {
  from {
    transform: translate(0, 0) rotate(0deg);
  }

  to {
    transform: translate(0, 0) rotate(360deg);
  }
}
