@import '../../styles/settings.scss';

.window {
  height: 100%;
  padding: 32px;
  background-color: $color_bg-dark;
  @include mobile {
    padding: 16px;
  }
}
.container {
  height: 100%;
  border-radius: $size;
  background-color: $color_bg;
  display: flex;
  flex-direction: column;
  border: 1px solid $color_text-dark;
}
