@import '../../styles/settings.scss';

.nav {
  display: flex;
  background-color: $color_bg-dark;
  border-top: 1px solid $color_text-dark;
  border-bottom: 1px solid $color_text-dark;
  box-shadow: $shadow;
  position: relative;
  @include notebook {
    position: absolute;
    top: 130px;
    left: 50%;
    border-left: 1px solid $color_text-dark;
    transform: translateX(-50%);
    flex-direction: column;
    perspective: 400px;
    z-index: 11;
  }
  &__btn {
    cursor: default;
    width: 150px;
    height: 48px;
    border-right: 1px solid $color_text-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    @include notebook {
      width: 300px;
      animation: navAnimation 600ms ease forwards;
      transform: rotateX(90deg);
      opacity: 0;
      transform-origin: top;
    }
    &:nth-child(2) {
      @include notebook {
        animation-delay: 0.2s;
      }
    }
    &:nth-child(3) {
      @include notebook {
        animation-delay: 0.4s;
      }
    }
    &:hover {
      color: $color_nav-active;
    }
    &.active {
      color: $color_nav-active;
      background-color: $color_bg;
      border-top: 2px solid $color_nav-border-active;
    }
  }
}

.show__nav {
  @include notebook {
    display: flex;
  }
}
.hide__nav {
  @include notebook {
    display: none;
  }
}

.nav__btn-open {
  display: none;
  background-color: $color_bg-dark;
  border-top: 1px solid $color_text-dark;
  border-bottom: 1px solid $color_text-dark;
  box-shadow: $shadow;
  padding: 16px 0px;
  text-align: center;
  &:hover {
    color: $color_nav-active;
  }
  @include notebook {
    display: block;
    cursor: pointer;
  }
}

@keyframes navAnimation {
  to {
    transform: rotateX(0);
    opacity: 1;
  }
}
