@import '../../../styles/settings.scss';

.project-explorer {
  display: grid;
  grid-template-columns: 400px 1fr 25px;
  flex-grow: 1;
  &__sidebar {
    padding: $size * 2;
    background-color: $color_bg-dark;
    border-right: 1px solid $color_text-dark;
    border-left: 1px solid $color_text-dark;
    margin-left: -1px;
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
    gap: $size;
    border-right: 1px solid $color_text-dark;
    padding: $size * 4;
  }
  &__elem {
    padding: 2px;
    &::before {
      content: '';
      display: block;
      top: 0;
      left: 0;
      right: 0;
      height: $size;
      background-color: $color_scroll-elem;
      border-radius: 1px;
    }
  }
}

.projects__isloading {
  flex-grow: 1;
}
